@import "tailwindcss";
@layer base, components, utilities;

/* Optional: custom fonts / resets */
html,
body {
  height: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: #f9fafb;
}
